<% @organism.floras.includes(:organ_system, :efficacies).each do |flora| %>
  <div class="search_results" style="width: 45%; display: inline-block;">

    <h4><%= flora.organ_system.name.capitalize %></h4>
    <% flora.efficacies.where.not(rating: nil).order(rating: :desc).each do |efficacy| %>
      name: <%= efficacy.antibiotic.name %> <br>
      rating: <%= efficacy.rating %><br>
    <% end %>
  </div>
<% end %>

<p>
  <%= button_to "Back to search results.", search_path(term: params[:term]) , class: 'btn btn-primary internalback', remote: true %>
<p>
