<html>
	
<%= render "navbar" %>
<br />
<br />
<br />
<h2>About Mycrobio.me</h2>
	<body>
<p>DISCLAIMER: Mycrobio.me is a project undertaken by three aspiring web developers. Its purpose is to be used as a reference and learning tool; it is not intended to diagnose or treat any diseases.</p><hr />
<p>In the world of health care, there is rising concern regarding antibiotic overuse and rising bacterial resistance. Mycrobio.me is intended to help clinicians and students of medicine, nursing, and pharmacy learn and memorize the normal human flora. Many of these flora are opportunistic pathogens, and it is important to recognize which antibiotics are effective in a particular disease state.</p>
<p>Mycrobio.me is a constantly evolving project, and its authors will continue to check for accuracy, update, and add to it. For feedback, please contact</p>

		<div class="card-footer text-muted text-center">
		      ©2018 Mycrobio.me 
		</div>
	</body>
</html>