<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About</title>
		<style >
		.navbar-inner {
				background-color:transparent !important;
		}
		</style>
	</head>
	<body>
		<%= render "navbar" %>
		<div class="container" style="padding-top: 100px;">


		<h2>About Mycrobio.me</h2>
		<div class="about">
		<p><strong>DISCLAIMER:</strong> Mycrobio.me is a project undertaken by three aspiring web developers. Its purpose is to be used as a reference and learning tool; it is not intended to diagnose or treat any diseases.</p><hr />
		<p>In the world of health care, there is rising concern regarding antibiotic overuse and rising bacterial resistance. Mycrobio.me is intended to help clinicians and students of medicine, nursing, and pharmacy learn and memorize the normal human flora. Many of these flora are opportunistic pathogens, and it is important to recognize which antibiotics are effective in a particular disease state in order to tailor an appropriate antibiotic regimen.</p>
		<p>Mycrobio.me is a constantly evolving project, and its authors will continue to check for accuracy, update, and append to it. In the future, we will be adding pathogens, including viruses, as well as routes and dosing for the antibiotics. For feedback and suggestions, please <a href="mailto:terezacamelia@gmail.com">contact</a> us.</p>
		</div>
			</div>
	</body>
</html>
