<div class="efficacy_display">
  <p>Antibiotics are organized from most efficacious (green), to least (red).<br>
    Note: rating for a single antibiotic can vary by organ system. </p>
  <!-- <h1>Antibiotics for <%#= @organism.name %></h1> -->
<p><% @efficacies.order(rating: :desc).each do |e| %> </p>
<h2><%= e.antibiotic.name.titleize %><br></h2>
<br>
<%#= p e.inspect %>


<% if e.rating == 3  %><div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90"
  aria-valuemin="0" aria-valuemax="100" style="width:90%">
<p></p> </div>

<% elsif e.rating == 2 %><div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60"
  aria-valuemin="0" aria-valuemax="100" style="width:60%">
<p></p> </div>

<% elsif e.rating == 1 %><div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="20"
  aria-valuemin="0" aria-valuemax="100" style="width:20%">
<p></p> </div>

<% else %>
<p> </p>
<% end %>

<% end %>

</style>
</head>
<body>
  </div>
