<!-- stylesheet_link_tag("organ_systems.scss") -->

<!-- Modal -->
<div class="modal fade michelle" id="floraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "logo.png", :style => 'width: 250px; height: 50px;' %>
        <!-- <h2 class="modal-title" id="exampleModalLongTitle"><%#= @organ_system.name.titleize %> Flora</h2> -->
        <button type="button" class="close" id="closeit" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

<!-- "data-toggle" => "modal" -->

      </div>

      <div class="modal-body">
        <h1><%= @organ_system.name.titleize %> System Flora</h1>
        <p>Click on an organism to browse antibiotics and efficacy ratings.</p>

        <div class="flora_results">
          <% @organisms.each do |organism| %>
        <p>  <%= link_to organism.name.titleize, organism_path(id: organism.id, organ_system_id: @organ_system.id), remote: true %> <p>
          <% end %>
        </div>

        <button type="button" class="close2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

    </div>
  </div>
</div>
</div>
