<html>
<head>

  <style type="text/css">
  body { background: #eef5fb !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  .btn-primary {background: #000080 !important;}
  .btn {
    padding: 2.7% 0;
    /* overflow: hidden; */
  }
  .responsive-width {
    font-size: 1.7vw;
  }

  </style>

</head>

<body>
  <%= render "home/navbar" %>
  <!-- Page Content -->
  <div class="container text-center " style="padding-top: 40px;">

    <h1 class="mt-5">FEMALE ORGAN SYSTEMS</h1>

    <p >The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML. For best results, it's recommended that you use an SVG image as your logo.</p>
    <br>
    <div class="row systems">
      <div class="col-4">
        <%= render "fsidenav" %>

    </div>
      <div class="col-8">
        <iframe
          id="embedded-human"
          frameBorder="0"
          width="700"
          height="500"
          allowFullScreen="true"
          src="https://human.biodigital.com/widget/?be=2WQO&background.colors=0,0,0,0,0,0,0,0&ui-fullscreen=false&ui-share=false&dk=e2c952a0399972a17607c3a82fb804513d551c19">
        </iframe>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade michelle" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--  there was content here -->









      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>
