<html>
  <head>
    <style type="text/css">
    body { background: #eef5fb !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    .btn-primary {background: #2e353d !important; border: #2e353d !important ;}
    .btn {
      padding: 2.7% 0;
    }
    .responsive-width {
      font-size: 1.7vw;
    }
  </style>
  </head>

<body>
  <%= render "home/navbar" %>
  <!-- Page Content -->
    <div class="row systems">
      <div class="col-4 text-center" style="padding-top: 100px;">
        <%= render "fsidenav" %>
    </div>

    <div class="col-8 text-center">
          <br>
      <div class="container text-center" style="padding-top: 70px;">
        <h3 class="mt-5">FEMALE ORGAN SYSTEMS</h3>
        <p>Click on the name of an organ system to list its normal flora!</p>


  <!-- <iframe

  id="embedded-human"
  frameBorder="0"
  width="700"
  height="500"
  allowFullScreen="true"
  src="https://human.biodigital.com/widget/?be=2Wy5&background.colors=0,0,0,0,0,0,0,0&ui-fullscreen=false&ui-share=false&dk=e2c952a0399972a17607c3a82fb804513d551c19">

  </iframe> -->

    </div>
  </div>
</div>

<div id="modal-container"></div>
<div id="search-container"></div>


</body>

</html>
