    <iframe
      id="embedded-human"
      frameBorder="0"
      width="700"
      height="500"
      allowFullScreen="true"
      src="https://human.biodigital.com/widget/?be=2WDA&background.colors=0,0,0,0,0,0,0,0&ui-fullscreen=false&ui-share=false&dk=e2c952a0399972a17607c3a82fb804513d551c19">
    </iframe>
    <div id="panel">
      <div id="systems_list">Click to fly to an object</div>
          <a id="nasopharynx" href="#">Nasopharynx</a>
          <br>
           <a id="respiratory" href="#">Respiratory</a>
           <br>
           <a id="skin" href="#">Skin</a>
           <br>
           <a id="stomach" href="#">Stomach</a>
           <br>
           <a id="smallintestine" href="#">Small Intestine</a>
           <br>
           <a id="largeintestine" href="#">Large Intestine</a>
           <br>
           <a id="urinary" href="#">Urinary</a>
           <br>
           <a id="genitalia" href="#">Genitalia</a>
           <br>

    </div>

  </body>
</html>
