<h1>OrganSystems#index</h1>
<%= javascript_include_tag('organ_systems.js') %>
<%= stylesheet_link_tag "organ_systems.scss" %>
<html style="height: 100%; overflow: hidden;">
<body style="height: 100%; margin: 0">
  <h1>Man of ur Dreamz Take 7</h1>

  <iframe id="myWidget" allowFullScreen="true" src="https://human.biodigital.com/widget/?be=2WCP&dk=e2c952a0399972a17607c3a82fb804513d551c19" width="100%" height="100%">
  </iframe>
  <div id="panel">
    <!-- <input type="text" id="search" onkeyup="searchFunction()" placeholder="Search Anatomy..."> -->
    <div id="caption" style="font-weight: bold">
      <!-- <label for="list_view_filter">View:  </label> -->
      <!-- <select id="list_view_filter">
      <option value="display_name">Display name</option>
      <option value="object_id">Object IDs</option> -->
    </select>
  </div>
  <table id="list"   style=" font-weight: bold;">

    <tr>
      1. Nasalpharynx - mouth/throat/teeth
    </tr>
    <br>
    <tr>
      2. Respiratory
    </tr>
    <br>
    <tr>
      3. Stomach
    </tr>
    <br>
    <tr>
      4. Small Intestine
    </tr>
    <br>
    <tr>
      5. Large Intestine
    </tr>
    <br>
    <tr>
      6. Urethra
    </tr>
    <br>
    <tr>
      7. Genitailia
    </tr>
    <br>
    <tr>
      8. Skin
    </tr>
  </table>
</div>
