<p>Is this thing on? <%#= Antibiotics.all %> </p>
<p> Now... How do I render this: <br>
  Antibiotic.find_by(id:8)<br>
  with the correct id from the organism?
  This would require using the floras table <br>
  (the joint table for antibiotics/organisms/efficacies)
</p>
