body {
  background:   #06143B;
  width: 100%;
  height: 100%;
  color: white;
}

.zebra {
  background: #06143B;
  width: 100%;
  // height: 100%;
  color: white;

}

.zebra a {
  color: white;
  text-decoration: none;
}

.zebra .modal-header, .zebra .modal-footer {
  border: none;
}

.zebra.modal-dialog {
width: 800px;
max-width: 100%;
background: linear-gradient(#06143B, #381c2a);
}

.zebra .btn.btn-secondary {
  padding: .3px;
}

.zebra a:hover {
  color: lightblue;
}
