.organ_system_bg {
  background: radial-gradient(#a35994, #674868, #06143B);
  width: 100%;
  height: 100%;
}

#floraModal {
  //
  color: white;

  .modal-dialog {
    width: 100em;
  }

}

.modal-header {
  // HEADER WITH LOGO, GRAY
  background-color: #2e353d;
  border-bottom: 0;
}

.modal-body {
  background: radial-gradient(#06143B, #381c2a, #381c2a);
  // background-repeat: no-repeat;
  text-align: center;

  .flora_results {
    background: rgba(34, 38, 40, 0.5);
    color: white;
    padding: 2rem;
    // display: inline-grid;
    // align-content: center;
    // grid-template-columns: 3rem 3rem 3rem;
    // columns: start

    a {
      color: white;
    }
  }

}

.modal-footer {
  background-color: #2e353d;
  height: 3em;

  .btn.btn-lg.btn-primary {
    font-size: 1em;
    line-height: 0.5em;
    background: #BF5C97;
    padding: 0;
  }
}

button.close {
  font-size: 1em;
  background-color: transparent;
}
