// Place all the styles related to the organisms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.btn-primary.internalback {
padding: .3em;
background-color:  #ab4b84 !important;
// color: white;
border: .2em;
border-color: lightblue;
}
